#lightbox-donate
  display none
  position fixed
  height 500px
  width 500px
  top: 50%;
  left: 50%;
  margin-top: -250px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  z-index 101
  background-color #F8D11C

#donate-box
  background-color #EDEDED
  padding 20px

#fade
  display none
  position fixed
  top: 0
  left: 0
  height 100%
  width 100%
  background-color rgba(#3c2d82, 0.4)
  z-index 100
